[2018-11-13 00:49] pvasa opened #26 "setOnPreviewFrameListener not getting any callback"
**Describe the bug**
The `setOnPreviewFrameListener` method on `CameraView` is not getting any callback.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a listener with `cameraView.setOnPreviewFrameListener {..}`

**Expected behavior**
The listener is invoked when camera preview is on

**Using ProGuard**
- [x] with ProGuard
- [x] without ProGuard

**Screenshots**
N/A

**Device (please co

[2018-11-15 01:19] pvasa commented on #26
Fixed by https://github.com/pvasa/cameraview-ex/pull/28

[2018-11-15 01:19] #26 closed

[2018-11-15 20:03] tommyttli opened #38 "Crash"
**Describe the bug**
Not sure but crash (no stacktrace)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Using ProGuard**
- [ ] with ProGuard
- [ ] without ProGuard

**Screenshots**
If applicable, add screenshots to help explain your pr

[2018-11-15 20:04] #38 closed

[2019-01-04 17:45] pcm2a opened #96 "config.autoFocus.value causes crash when switching cameras"
**Describe the bug**
When switching from front to rear or rear to front camera a crash occurs.

Code that causes the crash
`camera.facing = when (camera.facing) {
      Modes.Facing.FACING_BACK -> Modes.Facing.FACING_FRONT
      else -> Modes.Facing.FACING_BACK
 }`

Code causing the crash in Camera2.kt
`config.autoFocus.value = Modes.DEFAULT_AUTO_FOCUS`

Code that resolves the issue
`config.autoFo

[2019-01-05 20:31] yonathan06 opened #97 "Video recording fails to save to file"
`stopVideoRecording()` always returns false, with no error

[code]

[2019-01-05 23:14] pvasa commented on #96
Commit https://github.com/pvasa/cameraview-ex/commit/877145f429f13ac42b97d02adedecb5037430768 fixes #96 by running the `LiveData.setValue()` on main thread instead of background handler thread.

[2019-01-05 23:14] #96 closed

[2019-01-05 23:55] pvasa commented on #97
Have you registered an error listener? All the errors are thrown to error listeners which can be registered as below
[code]
Nothing can be implied from the information you provided above. Please reopen the issue when you have more information.

[2019-01-06 02:06] pcm2a opened #99 "Support for fixed orientation view and landscape video/image"
Currently in order to record a landscape video you have to leave the orientation unlocked. This results in a jarring experience when the device changes from portrait to landscape. A better approach would be to allow the device to be fixed to portrait or userPortrait. When the recording or picture is taken it would be taken in the correct orientation based on the device orientation.

Setting the ac

[2019-01-06 02:53] pcm2a commented on #99
Scratch my last attempt. Instead if you set `videoRequestBuilder.set(CaptureRequest.JPEG_ORIENTATION, 90)` around line 1296 in Camera2.kt, below the assignment of `videoRequestBuilder` then the preview will be correct and the video will be recorded in landscape.

What will need to happen is for both imageRequestBuilder and videoRequestBuilder the correct jpeg orientation will need to be calculated

[2019-01-06 15:21] pcm2a commented on #99
Scratch everything above. It appears that the issue is with `outputOrientation`. The following line always returns the same thing if the device is locked to portrait `var sensorOrientation = cameraCharacteristics.get(CameraCharacteristics.SENSOR_ORIENTATION)`.

[2019-01-06 15:42] yonathan06 commented on #97
I added the error listener, but it is never called (although the `stopVideoRecording` is still returning `false`)
any idea why?
any way to see all of CameraView logs?

[2019-01-06 16:13] yonathan06 commented on #97
in logcat it gives me a lot of these: `E/mm-camera: <STATS_AEC ><ERROR> 1849: aec_process_calc_current_hist_metered_luma: error: out of range, exit`

[2019-01-06 19:32] pcm2a commented on #99
I created PR https://github.com/pvasa/cameraview-ex/pull/100/files to fix this issue.

[2019-01-06 21:41] pvasa commented on #99
Closing this PR. https://github.com/pvasa/cameraview-ex/pull/100#issuecomment-451777388

[2019-01-07 16:32] yonathan06 commented on #97
updated and `isVideoRecording` is `false` before calling `stopVideoRecording`
also saw that the interface of addCameraErrorListener has changed, but still no error
I'm setting `cameraMode` to `Modes.CameraMode.VIDEO_CAPTURE` programmatically

I'm running it on xiaomi mi 5 (android 8.0, API 26)

[2019-01-08 13:06] AngelStanislavovAngelov opened #104 "AAPT linking references error"
**Describe the bug**
Unable to build project when library is added. Getting the following error message

`/app/build/intermediates/incremental/mergeFreemiumDebugResources/merged.dir/values/values.xml:6167: error: expected boolean but got (raw string) continuous_picture.`

When I open the values.xml file the problem comes from the following line:
`<item name="autoFocus">continuous_picture</item>`

[2019-01-09 02:48] pvasa commented on #104
@AngelStanislavovAngelov What library version are you using? Did you recently update to latest lib versions? I think this is a cache issue. Try `./gradlew cleanBuildCache clean build --refresh-dependencies` on your Android project to clean, rebuild and redownload dependencies.

[2019-01-09 02:56] pvasa commented on #97
Lib using Timber does not change anything. Try logging or throwing the throwable that you get in camera error listener. Something like,
[code]

[2019-01-09 09:51] prajapatiravi257 commented on #97
No error is thrown even after logging

[2019-01-10 00:55] pcm2a opened #105 "Setting the video size to record in"
Before I start adding this in I wanted to make sure it is not already available and I have missed it.

Current functionality:
The user can get the list of valid aspect ratios and set one, example 16:9.
When the recording starts a video size is automatically chosen by the closest size to the screen preview and the selected aspect ratio.

Example: On a LG G6 set at 16:9 using a full screen preview t

[2019-01-10 10:20] bipinvaylu opened #106 "Video recording and Frame processing simultaneously"
My use cases required to Preview, Record and Process the frames simultaneously, I have used this codebase, It seems promising but it's still, not supporting recording and frame processing at the same time. It would be nice if you can incorporate the same if you have some time.

[2019-01-11 04:21] pvasa commented on #97
@prajapatiravi257 are you using the same device as @yonathan06? If not what device are you on? If yes have you tested on other devices? This issue could be very specific to certain devices. Also try running the [sampleApp](https://github.com/pvasa/cameraview-ex/tree/master/sampleApp) on same device and see if you are still seeing same problem.

[2019-01-11 04:36] prajapatiravi257 commented on #97
Yes even i have the same vendor model xiaomi 6A, I had also tested it on moto g5s plus and its working fine. And yes i am same issue with the sample app in xiaomi device.
Also even setting camera facing to front doesn't work.

[2019-01-11 05:02] bipinvaylu commented on #106
Thanks @pvasa for a quick response, Yeah, Actually I am trying to achieve my use case since last few days. But unable to find any sustainable solution so far. Please find the proper use case details here: https://stackoverflow.com/questions/54091648/camera-2-api-to-preview-record-and-extract-the-preview-frame-to-firebase-face-d

Btw, If you can provide me some help/insight for the same. I can work

[2019-01-12 06:43] keremkusmezer opened #110 "Camera1 Video Recording Support Or Throw Not Supported Exception"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-01-12 06:46] keremkusmezer commented on #110
When the api falls back to Camera1 during VideoRecording, the startVideoRecording method is empty as well as the stop resume pause methods are returning false directly, do you have any plans to implement video recording for the Camera1 implementation and can't you just throw a NotSupported exception on startVideoRecording or execute the callback directly instead of leaving it empty?

[2019-01-12 06:50] keremkusmezer commented on #97
Can it be that the device is mapped as Camera1 because of the capabilities check?

[2019-01-12 12:35] prajapatiravi257 commented on #97
yeah it can be but now i am using camera2 api from google samples for video recording and its working fine

[2019-01-12 15:31] pvasa commented on #110
There is no plan to include video support for camera1 any time soon. I will add an error for those methods.

[2019-01-12 15:31] #110 closed

[2019-01-13 20:18] pvasa commented on #105
Fixed in #108

[2019-01-13 20:18] #105 closed

[2019-01-13 22:15] pcm2a commented on #99
I didn't miss the merge of your refactor changes for this PR did I https://github.com/pvasa/cameraview-ex/pull/101?

In this equation everything is an integer. So orientation of 45 or less will end up as 0 % 360 = 0. Orientation of 46 will be 90 % 360 = 90, etc, etc. Seems to work really well in my testing.

[2019-01-13 22:58] pvasa commented on #99
No I am still working on it. Also refactoring some background handling in the same PR which has some issues with mixing java threading and coroutines.

You are right. Missed the fact that everything is an integer.

[2019-01-16 01:12] arvinkx opened #112 "Camera.start causing crash intermittently"
**Describe the bug**
A clear and concise description of what the bug is.
Related to #96 - Same error, different scenario. I've tried using a version with the fix in that issue applied but am still running into this issue.

**To Reproduce**
Steps to reproduce the behavior:
-Starting the camera from `onRequestPermissionsResult` (even if using `runOnUIThread`) results in a crash due to `setValue` bei

[2019-01-16 01:19] pvasa commented on #112
This will be fixed by #113

[2019-01-16 03:16] #99 closed

[2019-01-16 03:46] pvasa commented on #97
It seems on certain devices, the library is falling back to camera1 implementation and thus could not start video recording (not supported on camera1). Implementing video recording on camera1 might be a future enhancement. In regards with this issue, the library functions as designed.

[2019-01-16 03:46] #97 closed

[2019-01-17 01:35] pcm2a opened #116 "How to capture images in 16:9"
Can you point me in the right direction on how to set the aspect ratio for capturing an image with Camera2? The equivalent of setPictureSize on Camera1. I would like to do something similar to what we did with videos and allow taking photos in 4:3 or 16:9. Currently with a full screen preview the captured image is 4:3.

[2019-01-17 02:57] arvinkx opened #117 "Capture fails after a restart of the camera"
**Describe the bug**
Capture doesn't work after stopping and restarting the camera in release 2.7.0. An error is not generated and the picture taken listener is not invoked. This showed up in this latest release (2.7.0), it doesn't seem to occur on 2.6.1.

**To Reproduce**
Steps to reproduce the behavior:
1. Start camera using `start`
2. Stop camera using `stop(false)`
3. Start camera again using

[2019-01-17 17:48] pcm2a opened #119 "Crash if launching CameraActivity multiple times"
**Describe the bug**
The latest batch of changes merged into developed has introduced an issue. If you launch your CameraActivity from another activity, then leave the camera, go back and forth a few times eventually it all locks up.

I have provided a simple activity that I used to reproduce the issue off of the development branch. When I switch to my fork that does not have your latest changes I

[2019-01-17 17:50] pcm2a commented on #117
Is this reproducible in the sampleApp provided with the library?

[2019-01-17 19:41] arvinkx commented on #117
I can confirm this issue exists in the sample app as well by leaving the app and coming back. Flash will fire but the picture is not taken and no preview is shown.

[2019-01-17 20:13] pcm2a commented on #116
I figured this out and will update it to be similar to videos, allowing for Max 4:3 or Max 16:9.

`val largestPicture = pictureSizes.sizes(AspectRatio.Ratio16x9).last()`

[2019-01-17 20:49] pcm2a commented on #116
I finally figured it out, no code changes needed. The below setting, put in the camera opened listener seems to do the trick.
[code]

[2019-01-18 01:56] pvasa commented on #112
@arvinkx Ideally views should be updated on main (UI) thread. Technically this can be fixed in library and I will but even on app side, it should be kept in mind to deal with views only on main thread.

A quick fix would be to launch `camera.start()` on UI thread
[code]
You can use above fix until I update the lib.

[2019-01-18 01:56] #112 closed

[2019-01-18 02:13] arvinkx commented on #112
@pvasa I've already got the call to `camera.start` wrapped in `runOnUiThread` and I still am experiencing this issue. The sample app doesn't experience the issue and the only difference I can see is that the fragment with the camera is created after the permission result is returned and I am not using a fragment in the activity I have the camera in, I'm calling start from `onRequestPermissionsResu

[2019-01-18 02:31] pvasa commented on #116
Not necessarily from opened listener. It can be set once the view is created using
[code]
Also all supported aspect ratios can be found in `camera.supportedAspectRatios`

[2019-01-18 02:34] pcm2a commented on #116
I'll give that a shot also and report back. I tried setting app:aspectRatio="16:9" in the layout file but that seemed to give an error, maybe only works from the class file. Thanks for all the active development you are putting in to this project!

[2019-01-18 04:39] pvasa commented on #117
@pcm2a @arvinkx The sampleApp demos barcode detection implementation using firebase api that is why it requires google-services.json. Please refer this [google help article](https://support.google.com/firebase/answer/7015592?hl=en) for instructions on generating google-services.json

[2019-01-18 04:42] pvasa commented on #119
@pcm2a I couldn't reproduce this behaviour using your demo branch #118 I also confirmed memory usage after closing and opening (also taking photos in between) camera activity multiple times and it seems normal. Let me know when you have more insights on this or more specific details about reproducing the issue.

[2019-01-18 04:46] pcm2a commented on #119
I will try to migrate the changes over in small batches and see if I can figure out when the issue appears. I will also monitor memory to see if that is what is causing the issue.

[2019-01-18 06:58] arvinkx commented on #117
@pvasa Not really familiar with Kotlin but I believe the issue is related to this block of code in `CameraView.kt`:
[code]
Once stop is called without removing the listeners, starting the camera again and calling capture in debug mode in the sample app, gets to the line with `pictureTakenListeners` but doesn't call `it(imageData)` when breakpoints are set. Hope this helps as I'm not really familia

[2019-01-18 18:54] pcm2a commented on #119
I'm going to close this until I can provide any better information. I ran the profiler and memory and cpu both look great.

[2019-01-18 22:04] pcm2a commented on #119
I found the missing piece. If the layout has the activity starting in `video_capture` instead of `single_capture` mode then I get the crash. If set to `single_capture` I can open the camera unlimited times. I have updated the example.

Also if I try to launch in `single_capture` and then change to `video_capture` once the activity starts, eventually I run into the same issue. Maybe something is no

[2019-01-19 00:19] pcm2a commented on #119
Another thing I have noticed. I can launch in `single_capture` mode, manually change to `video_capture` mode, exit, repeat, works every time.

[2019-01-20 18:58] pvasa commented on #117
@arvinkx good catch that was the exact issue. When a scope is created using `CoroutineScope(coroutineContext)` function, it attaches the scope to a new `Job` context. So when `coroutineScope.cooutineContext.cancel()` is called it cancels the job and thus no more coroutines can be created using that scope.

[2019-01-21 01:44] pvasa commented on #119
@pcm2a I #123 and #124 might have fixed this issue. Can you please confirm?

[2019-01-21 01:46] #117 closed

[2019-01-21 18:13] pcm2a commented on #119
I am no longer able to reproduce the issue with the latest changes, thanks!

[2019-01-21 18:13] #119 closed

[2019-01-21 18:37] pcm2a commented on #116
Reopening to make sure I understand how 16:9 photos are supposed to be captured. The only way that seems to work good is in the opened listener.

[2019-01-23 23:31] pvasa opened #133 "Preview expanding out of CameraView bounds for non standard view size"
**Description**
When using a custom size for CameraView, the preview (TextureView) expands out of bounds of CameraView and produces images of size of preview instead of CameraView.

**To Reproduce**
Steps to reproduce the behavior:
1. Define CameraView with `width = 720` and `height = 540`
2. The aspect ratio is still 4:3
3. Start the camera `cameraView.start()`
4. Check Layout Inspector

**Expect

[2019-01-24 02:47] pvasa commented on #116
With #134, one can specify the aspect ratio in xml directly like `app:aspectRatio="16:9"` and the camera preview will be initialized in that aspect ratio. Even the pictures will be taken in that aspect ratio.

[2019-01-24 02:47] #116 closed

[2019-01-27 22:13] pvasa commented on #106
@bipinvaylu the way to achieve this would be to provide both `mediaRecorder` surface and `imageReader` surface to `videoRequestBuilder` and `camera?.createCaptureSession(..)`. So you will need to update `startVideoRecording()`.
You can take a shot at it and let me know if you need any help, meanwhile I am implementing (updating) the `CameraView.cameraMode` api to achieve exactly this functionality

[2019-01-29 04:46] pvasa commented on #106
@bipinvaylu [Release v3.0.1-beta](https://github.com/pvasa/cameraview-ex/tree/v3.0.1-beta) now supports this feature.

[2019-01-29 04:46] #106 closed

[2019-01-30 05:27] pcm2a opened #142 "How to get the cameraMode in 3.0.1 beta?"
In the latest 3.0.1 beta it looks like `camera.cameraMode` has been replaced with `camera.setCameraMode(int)`. Is there some other mechanism to get the current camera mode or is it now up to the client to keep a reference to which mode the camera is in?

Maybe I could add a getter into `CameraView.kt`
[code]

[2019-01-30 13:40] pvasa commented on #142
@pcm2a There is a way, there are now 3 booleans, `isSingleCaptureModeEnabled`, `isVideoCaptureModeEnabled`, and `isSingleCaptureModeEnabled` to check for each more if it is enabled.

[2019-01-30 23:18] #142 closed

[2019-01-31 15:40] Wojtek1234 opened #143 "Not starting on some devices"
Basic configuration of camera view does not start on some devices.

On android 9 One Plus 6 it works as it should (starting preview)

on Lenovo Yoga tab 3 Android 7.1 (api 25) and on samsung Samsung Sm-A500FU android 6.0.1 (api 23) CameraView falls into some strange behaviour and does nothing,
in ovveriden method Camera2.start() it returns false and just hang there. In detail method chooseCameraId

[2019-01-31 22:54] pvasa commented on #143
Do you see any errors in camera view error listener?

[2019-02-01 08:54] Wojtek1234 commented on #143
unfortunately no, app just hangs. It never comes to listeners, it hangs up on line 570 of CameraView class when it try to destroy camera object

[2019-02-02 04:46] pvasa commented on #143
@Wojtek1234 The reason `chooseCameraIdByFacing()` returns false could be because the hardware is not compatible with camera2 api on those devices. That is why it falls back to camera1 and return true which means the camera was started successfully.

Are you running sample app? If not, try the sample app and see if still facing same issue. Try adding a camera error listener first and then starting

[2019-02-06 04:38] pcm2a opened #144 "Crash when exiting the camera and coming back"
On the latest 3.0.1-beta I have been experiencing crashes if I leave the activity and then come back. I have not taken the time to try to reproduce it from the sample app yet. I wanted to see if this is already resolved in any upcoming updates.

[code]
I updated Camera2.kt and added a try/catch as a test. Afterwards the app no longer crashed and the camera is working good when leaving and returnin

[2019-02-06 06:17] pcm2a commented on #144
Doing more testing and comparing against the develop branch it looks like this is caused by my code to allow swapping between all cameras. Going to close this while I do more investigation.

[2019-02-06 06:17] #144 closed

[2019-02-20 08:28] ru-alxr commented on #143
Same bug.
Lib works perfectly on emulator, and fails on two real devices:
Lenovo a2016b30 (API 23)
Samsung SM-J810M (API 26)

Log contains these lines:
[code]

[2019-02-23 19:28] pvasa commented on #143
@ru-alxr Thanks for posting the log, although it does not say anything about the actual issue. And I don't have hands on those devices right now so I cannot test them either.

There are some major improvements and features coming to camera1 implementation (which seems to be the problem here) of the lib. So I would suggest to look out for it and once the release is out, try running the new version

[2019-02-23 19:29] pvasa commented on #133
This seems to be primarily unfixable and unsupported at hardware level.

[2019-02-23 19:29] #133 closed

[2019-02-26 04:45] #143 closed

[2019-02-28 17:42] tommyttli opened #150 "Upgraded app to AndroidX causes crash"
**Describe the bug**
Upgraded project to AndroidX and camera no longer works as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Open up a screen that uses the camera

**Expected behavior**
Should work as expected and not crash.

**Using ProGuard**
- [ ] with ProGuard
- [x] without ProGuard

**Device (please complete the following information):**
 - Google Pixel 2
 - Android 8.1
 -

[2019-02-28 17:54] #150 closed

[2019-03-08 17:01] petermolcany opened #157 "Provide access to CameraCharacteristics.SENSOR_ORIENTATION"
I'm trying to process frames in
`camera.setPreviewFrameListener { image: Image -> /* Preview frame available. */ }`
I managed to convert them to Bitmap however I'm having problems with rotation of the output images. I need to get the `CameraCharacteristics.SENSOR_ORIENTATION` irrelevant to device orientation to perform successful rotation.

As a workaround I do it now independently by calling `man

[2019-03-09 20:34] pvasa commented on #157
@petermolcany I was thinking of replacing the `android.media.Image` with a custom data class very similar to `LegacyImage` but for camera2 impl. Can you help me understand your overall use case and how do you currently use the `Image` output? Would it be more useful to instead have `ByteArray` output for preview frames with metadata like width, height, and rotation (maybe more)? What are your thou

[2019-03-11 13:56] petermolcany commented on #157
@pvasa I am using face recognition (draw overlay on preview) and simultaneous video recording. First, I need to convert preview frame to custom format to perform the detection. Library I am using requires the faces to be upright, sideways faces would not be detected. I need to know the camera sensor orientation to rotate the image and ensure faces are upright. Phone must be therefore held in portr

[2019-03-15 05:11] pvasa commented on #157
Orientation can now be accessed as below from version 3.2.0
[code]
See `com.priyankvasa.android.cameraviewex.Image` for more information

[2019-03-15 05:37] #157 closed

[2019-03-19 12:09] srivnaimish opened #160 "Crash on camera start(NoSuchElementException)"
Hey @pvasa I have the camera in a fragment of a viewpager and have started and stopped the camera in onResume and onPause methods of the fragment. In some cases on start call getting a crash -

Adding the stacktrace -

Fatal Exception: java.util.NoSuchElementException: Sequence is empty.
       at kotlin.sequences.SequencesKt___SequencesKt.last(_Sequences.kt:202)
       at com.priyankvasa.android.

[2019-03-19 13:13] pvasa commented on #160
@srivnaimish would you mind adding some more info like lib version, device, etc. Try to fill the issue template as much as possible.

[2019-03-19 13:20] srivnaimish commented on #160
**Describe the bug**
App crash due to No element exception. Probably due absense of null check of sizes in camera2-  https://github.com/pvasa/cameraview-ex/blob/b54c3cc3a7635633cb427ed59f52b5778b22101f/cameraViewEx/src/main/api21/com/priyankvasa/android/cameraviewex/Camera2.kt#L904
Not sure though.

**Expected behavior**
Camera should start without causing a crash.

**Using ProGuard**
with ProGuar

[2019-03-19 13:36] pvasa commented on #160
@srivnaimish please update the lib version to [3.2.0](https://github.com/pvasa/cameraview-ex/releases/tag/v3.2.0). Many such issues were fixed in this release. Reopen the issue if you still see those crashes after updating.

[2019-03-19 13:36] #160 closed

[2019-03-22 08:55] srivnaimish commented on #160
Hey @pvasa updated the library but still getting the crash.
**Stacktrace** -
Fatal Exception: java.util.NoSuchElementException: Sequence is empty.
       at kotlin.sequences.SequencesKt___SequencesKt.last(_Sequences.kt:202)
       at com.priyankvasa.android.cameraviewex.extension.SortedSetExtensionsKt.chooseOptimalPreviewSize(SortedSetExtensions.kt:39)
       at com.priyankvasa.android.cameraviewe

[2019-03-22 17:39] srivnaimish opened #163 "Camera 1 crash"
@pvasa
**Describe the bug**
A crash on cameraview start on multiple number of devices in camera1.Starting the camera on onResume of fragment and stopping it in onPause.

**To Reproduce**
Crash occurs when closing the app and relaunching it.

**Expected behavior**
Camera should close with normal backpress app close and restart on app launch.

**Using ProGuard**
Yes

**Device (please complete the fo

[2019-03-22 22:26] srivnaimish commented on #163
Crash happening on kitkat and marshmellow.
In fragment
onResume starting the camera - cameraView.start();
onPause - cameraView.stop();
onDestroyView - cameraView.destroy();

Crash occurs when closing the app and relaunching it.

[2019-03-23 00:39] pvasa commented on #163
@srivnaimish Based on stacktrace it seems this exception is caused at class property initialization which suggests, it not being a functional error. On a second note, doing a quick google search I found [this SO post](https://stackoverflow.com/questions/100107/causes-of-getting-a-java-lang-verifyerror) which gives some insights of what the issue could be.
From the post,

I would suggest updating l

[2019-03-23 00:47] pvasa commented on #160
@srivnaimish Is it a possibility that you are facing this issue because of a similar cause described in #163. If so you can try doing a clean build and see if the issue is fixed. If not then please reopen this issue and we can investigate more.

[2019-03-28 09:24] AmitPrajapati1902 opened #168 "Failed to open camera with id 0"
com.sa.enetra E/StreamingFragment$setupCamera:
        com.priyankvasa.android.cameraviewex.CameraViewException: Failed to open camera with id 0
        at com.priyankvasa.android.cameraviewex.Camera2.start(Camera2.kt:733)
        at com.priyankvasa.android.cameraviewex.CameraView.start(CameraView.kt:496)

Getting error this place.

  @SuppressLint("MissingPermission")
    override fun onResume()

[2019-03-28 12:33] pvasa commented on #168
Please use [issue format](https://github.com/pvasa/cameraview-ex/issues/new?template=bug_report.md) to provide more info. Also, the above stacktrace doesn't say much about the actual cause, try to add full trace.

[2019-04-03 22:55] #163 closed

[2019-04-10 21:18] WilliamAlexander opened #174 "Front facing camera doesn't fire addPictureTakenListener event"
**Describe the bug**
Front facing camera doesn't fire addPictureTakenListener event

**To Reproduce**
Steps to reproduce the behavior:
1. Set camera to front facing
2. Call camera.capture()
3. The addPictureTakenListener does not fire
4. When camera is set to Back, it works fine and I'm able to save the image

**Expected behavior**
Save Image from addPictureTakenListener

**Using ProGuard**
- [ ]

[2019-04-11 13:15] pvasa commented on #174
@WilliamAlexander Have you tried setting an error listener? If not please set `CameraView.addCameraErrorListener { throwable, level -> .. }` and see if it throws any error when you try to take picture from front camera. If there is some error it might give some insight about the issue.

[2019-04-12 22:21] WilliamAlexander commented on #174
@pvasa Thanks for the reply.
I have an error listener.
I only get a warning:
"AF is not possible. Turning it off"

[2019-04-14 17:47] pcm2a opened #175 "Was sampleApp moved to CameraEx/sampleApp?"
I'm working on merging the latest dev branch into my fork and to also integrate it in with my fork's changes. I've encountered a question that I think you can clear up. Was the root sampleApp project refactored into CameraEx/sampleApp?

I can't figure out how to get it to build the CameraEx/sampleApp in Android Studio 3.3.2. cameraViewEx and sampleAppJava show up as projects.

I tried adding it in

[2019-04-15 12:25] pvasa commented on #175
@pcm2a Yes I moved `sampleApp` to a separate project `CameraEx`. Open CameraEx as project and it should load correctly with only one module. The reason behind doing this is to test library inside an AndroidX project.

Open CameraEx project and run following gradle commands
- build and deploy lib module - `cleanCameraViewEx buildCameraViewEx`
- build sampleApp - `clean assemble`

[2019-04-15 13:59] pvasa commented on #174
@WilliamAlexander the warning you're seeing only means auto focus is not supported and turned off. That shouldn't hinder other functionalities like taking pictures. Are you seeing same behavior while using sample app on the same device? Also please make sure that single capture mode is enabled; you can do that by checking `cameraView.isSingleCaptureModeEnabled`.

[2019-04-22 01:09] #175 closed

[2019-04-22 01:09] #174 closed

[2019-04-25 04:04] vladniki12 opened #182 "Tap focus does not work"
**Describe the bug**
Tap focus does not work

**To Reproduce**
Steps to reproduce the behavior:
1. Add 'app:touchToFocus="true"' Inyo xml file
2. Tap on screen and focus not working

**Expected behavior**
Tap Focus

**Device (please complete the following information):**
 - Device: Redmi Mi A1
 - OS: Android ( 9.0)
 - API: API 28

**Branch Name (if using as a local module)**
- [x] master
- [ ] dev

[2019-04-25 12:36] pvasa commented on #182
@vladniki12 does it not work at all or you still see the focusing circle but it does not focus correctly?

[2019-04-29 18:55] xperiafan13-rom opened #185 "Auto focus listener"
Hi, how i cad add listener for automatic focus without set points on startAutofocus?

[2019-04-30 13:48] pvasa commented on #185
Hi @xperiafan13-rom can you please elaborate the question? What kind of events are you trying to listen to?

[2019-05-01 01:23] xperiafan13-rom commented on #185
Soory, What I want is to implement a listener for an autofocus without needing some genre or using the startAutofocus function, that is, when doing automatic aoutocus to capture the image

[2019-05-01 22:26] pvasa commented on #185
@xperiafan13-rom I still don't get what you are looking but if you mean using automatic focus, you can set [`app:autoFocus="continuous_picture"`](https://github.com/pvasa/cameraview-ex#in-layout-xml) when defining camera view in your layout file. Or you can also set it programmatically by calling `cameraView.autoFocus = Modes.AutoFocus.AF_CONTINUOUS_PICTURE`.

[2019-05-02 10:51] rid-hrant opened #186 "How to get supported hardware level?"
Hi. In Android camera 2 API there is implementation levels, I couldn't find any way, for checking implementation level. So how I can get implementation level?

#### Link to documentation https://developer.android.com/reference/android/hardware/camera2/CameraCharacteristics.html#INFO_SUPPORTED_HARDWARE_LEVEL

[2019-05-02 12:57] pvasa commented on #186
Hi @rid-hrant that information is not exposed. This library is meant to be a wrapper around camera implementation hiding all android apis behind a simple to use api. Internally the library checks for hardware level and if it is LEGACY it automatically fallsback to using Android camera1 api.

[2019-05-02 14:42] rid-hrant commented on #186
@pvasa thank you for fast feedback. How I can check is `YUV` output format supported or not?

[2019-05-03 00:28] pvasa commented on #186
@rid-hrant AFAIK YUV image output should be available on all devices. Although I haven't seen it mentioned anywhere in the docs but never have I either faced this issue where a device is not able to produce YUV images.

[2019-05-03 00:35] pvasa commented on #186
Also on devices with legacy hardware level, it will fallback to camera1 implementation which always produces `NV21` format images and it will be reflected in output `Image.format`.

[2019-05-03 08:06] rid-hrant commented on #186
In this [post](https://stackoverflow.com/a/48095179/7484338) there is mentioned about `Level 3` implementation, `Level 3: Additionally support YUV reprocessing and RAW image capture`. There can be device which does not have `Level 3` implementation, what about this case?

[2019-05-03 17:43] #185 closed

[2019-05-04 01:39] pvasa commented on #186
@rid-hrant YUV reprocessing is different than producing YUV output. Hardware level 3 check is required for [YUV reprocessing](https://developer.android.com/reference/android/hardware/camera2/CameraMetadata.html#REQUEST_AVAILABLE_CAPABILITIES_YUV_REPROCESSING) but YUV image output (YUV_420_888 or NV21) can simply be produced using [ImageReader](https://developer.android.com/reference/android/media/

[2019-05-06 10:01] rid-hrant commented on #186
@pvasa Is implementation of this method `camera.setPreviewFrameListener` related to [YUV reprocessing](https://developer.android.com/reference/android/hardware/camera2/CameraMetadata.html#REQUEST_AVAILABLE_CAPABILITIES_YUV_REPROCESSING)? If **YUV reprocessing** not supported, will it work?

[2019-05-06 13:14] pvasa commented on #186
No @rid-hrant it is not related to reprocessing.

[2019-05-07 06:50] rid-hrant commented on #186
@pvasa thank you! Now it's clear. 🙂

[2019-05-07 06:50] #186 closed

[2019-05-07 06:52] rid-hrant opened #187 "It's not working on emulator"
Hi. I have tried to take picture on emulator, it's not working!

[2019-05-08 00:14] pvasa commented on #187
@rid-hrant do you see any errors?

[2019-05-08 08:00] rid-hrant commented on #187
No.

[2019-05-08 08:01] rid-hrant commented on #187
Just black screen!
![emulator-camera](https://user-images.githubusercontent.com/18151375/57359506-e439e080-7188-11e9-9cf4-60564689f19a.png)

[2019-05-08 08:09] rid-hrant commented on #187
Code for taking picture.
`        mLayout.findViewById(R.id.capture).setOnClickListener(v -> mCameraView.capture());
`

[2019-05-17 00:02] pvasa commented on #187
@rid-hrant I found the cause of the issue. It is because Af mode 4 is not supported and when that happens the impl should fall back to `AF_OFF` but for some reason it does not and that is why always trying to use auto focus even when it is not supported. I haven't got a chance to look into the fix yet.

[2019-05-17 08:45] rid-hrant commented on #187
Good. Will wait for fix.

[2019-05-18 06:49] poskocode opened #189 "encodeBase64"

[2019-05-21 22:15] #189 closed

[2019-05-24 18:06] imdiegobf commented on #182
This is happening to me as well. I can see the focusing circle but does not focus properly.

[2019-05-28 13:02] 23nJay opened #191 "About video recording"
Hello,
I'm beginner of android developer. I'm using this library because more interesting to integrate and easy.

But how can i start to video recording like as capture Image ?
Like it's easy coding to capture image
cameraView.setCameraMode(Modes.CameraMode.SINGLE_CAPTURE);
cameraView.enableCameraMode(Modes.CameraMode.SINGLE_CAPTURE);
cameraView.capture();

but there is no single syntax for video

[2019-05-28 14:03] pvasa commented on #191
Hi @23nJay you can use either `set..` or `enable..` which only prepares camera for that mode. In this case video mode. Then to actually start video recording, you can call `startVideoRecording(outputFile) { config.. }` which would start video recording. Please see [this section of doc](https://github.com/pvasa/cameraview-ex/blob/master/README.md#record-video) for more details.

[2019-05-29 04:05] 23nJay commented on #191
But how can i declare "outputFile"?
I declare like below..
File outputFile = null;
cameraView.startVideoRecording(outputFile);

and than it give an error >  "Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkParameterIsNotNull, parameter outputFile"

Could we start video recording direct without inserting any parameter?

Thanks.

[2019-05-29 11:51] pvasa commented on #191
@23nJay No you cannot. outputFile is a required parameter. You must create a file like `File file = new File("path to the file")` and then pass it to start video recording. [Here are some options to access storage](https://developer.android.com/training/data-storage/files).

[2019-05-29 11:51] #191 closed

[2019-06-06 12:51] 23nJay commented on #191
Hello,
Finally i set like this:

cameraView.setCameraMode(Modes.CameraMode.VIDEO_CAPTURE);
cameraView.enableCameraMode(Modes.CameraMode.VIDEO_CAPTURE);

String root = Environment.getExternalStorageDirectory().toString();
File myDir = new File(root + "/cubeTok");
myDir.mkdirs();

String timeStamp = new SimpleDateFormat("yyyyMMdd_HHmmss").format(new Date());
String fname = "cubeTok_" + timeStamp + "

[2019-06-07 03:42] 23nJay commented on #191
Hello,
Finally i set like this:

cameraView.setCameraMode(Modes.CameraMode.VIDEO_CAPTURE);
cameraView.enableCameraMode(Modes.CameraMode.VIDEO_CAPTURE);

String root = Environment.getExternalStorageDirectory().toString();
File myDir = new File(root + "/cubeTok");
myDir.mkdirs();

String timeStamp = new SimpleDateFormat("yyyyMMdd_HHmmss").format(new
Date());
String fname = "cubeTok_" + timeStamp + "

[2019-06-07 08:35] 23nJay opened #192 "Exception at Video recording"
Hello,
Finally i set like this:

cameraView.setCameraMode(Modes.CameraMode.VIDEO_CAPTURE);
cameraView.enableCameraMode(Modes.CameraMode.VIDEO_CAPTURE);

String root = Environment.getExternalStorageDirectory().toString();
File myDir = new File(root + "/cubeTok");
myDir.mkdirs();

String timeStamp = new SimpleDateFormat("yyyyMMdd_HHmmss").format(new
Date());
String fname = "cubeTok_" + timeStamp + "

[2019-06-09 18:45] dwhiteddsoft opened #193 "Can a single image be taken without the view?"
I just want to take a single image without user interaction and without displaying a view. Is this possible? If not with this library, is it possible at all with the Camera2 API?

[2019-06-12 02:49] yangchendev opened #194 "[crash] Error opening camera with id 0"
**Describe the bug**
I have get much crash with Error opening camera with id 0

**Using ProGuard**
YES

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device (please complete the following information):**
 - Device: [Huawei Honor V20]
 - OS: [Android 9.0]

**Additional context / stacktrace**
Fatal Exception: com.priyankvasa.android.cameraviewex.CameraViewException:

[2019-06-15 11:52] yangchendev commented on #194
@pvasa

[2019-06-16 12:19] iulian0512 opened #195 "IllegalStateException The specified child already has a parent. You must call removeView() on the child's parent first. com.priyankvasa.android.cameraviewex.PreviewImpl.markTouchAreas$cameraViewEx_release"
`Fatal Exception: java.lang.IllegalStateException: The specified child already has a parent. You must call removeView() on the child's parent first.
       at android.view.ViewGroup.addViewInner(ViewGroup.java:4471)
       at android.view.ViewGroup.addView(ViewGroup.java:4312)
       at android.view.ViewGroup.addView(ViewGroup.java:4252)
       at android.view.ViewGroup.addView(ViewGroup.java:4225

[2019-06-16 13:25] pvasa commented on #194
@yangchendev this seems to be like device specific issue. Have you tried running sample app on the same device?

[2019-06-16 13:30] pvasa commented on #193
@dwhiteddsoft no it is not possible. Camera2 api needs a surface to take pictures.

[2019-06-16 13:48] pvasa commented on #192
@23nJay there's no more configuration to it. Can provide more details like full exception log and which device you're working with?

[2019-06-16 13:52] pvasa commented on #195
@iulian0512 this is a known issue. It happens when you try to tap the preview too quickly. Current workaround is to block user from doing that. Denouncing the taps might help.

[2019-06-19 08:53] rubensim commented on #194
Hi @pvasa , I got the same issue, on Pixel API 27 1080x1920:420dpi (Android 8.1 Google play) x86 emulator.

com.priyankvasa.android.cameraviewex.CameraViewException: Error opening camera with id 0 (error: 4)
	at com.priyankvasa.android.cameraviewex.Camera2$cameraDeviceCallback$2$1.onError(Camera2.kt:149)
	at android.hardware.camera2.impl.CameraDeviceImpl$CameraDeviceCallbacks.notifyError(CameraDev

[2019-06-19 11:53] pvasa commented on #194
@rubensim the issues that you're seeing are because of using the lib on an emulator. The lib does not support emulator.

[2019-06-20 09:10] iulian0512 commented on #194
i have this issue on  Galaxy S8 Android 9

`Fatal Exception: com.priyankvasa.android.cameraviewex.CameraViewException: Error opening camera with id 0 (error: 3)
       at com.priyankvasa.android.cameraviewex.Camera2$cameraDeviceCallback$2$1.onError + 145(Camera2.kt:145)
       at android.hardware.camera2.impl.CameraDeviceImpl$CameraDeviceCallbacks.notifyError + 1929(CameraDeviceImpl.java:1929)

[2019-06-20 21:58] pvasa commented on #194
@iulian0512 in your layout file, either width or height should be `wrap_content`.

[2019-06-20 21:58] #193 closed

[2019-06-20 21:59] #192 closed

[2019-06-22 05:29] 23nJay commented on #192
Hello,

No there is no more details in exception, It comes when video starting method just called and Exception just shown in Toast method.

Kindly help, it's only one things thats I would like to implement.

If  @pvasa wants my codes for understanding than i would to share, Please provide your secure email Id where can share my code files.

Thank You @pvasa.

[2019-06-22 19:12] pvasa commented on #192
@23nJay can you share all camera related setup that you do in your layout file and code?

[2019-06-24 04:20] 23nJay commented on #192
Hi @pvasa,

Define in activity class:
define global > CameraView cameraView;

and in onCreate() {
cameraView = (CameraView) findViewById(R.id.camera);

        if (cameraView != null) {
            cameraView.setFacing(FACING_BACK);
            cameraView.setAutoFocus(Modes.AutoFocus.AF_OFF);
            cameraView.setTouchToFocus(true);
            cameraView.setOpticalStabilization(false);

[2019-06-24 11:45] pvasa commented on #192
The `layout_width` or `layout_height` either of them should be `wrap_content`.

[2019-06-26 12:22] rubensim commented on #182
Hi @pvasa, this is also happening on
Pixel with Android 9
Samsung Galaxy S7 Edge with Android 8
Samsung galaxy S8, S6

Do you already know what is the issue ? and do you have any estimation on this ? this issue is very  critical for my App please respond as soon as you can.

[2019-06-26 13:47] pvasa commented on #182
Hi @rubensim i haven't had a chance to look into this issue. I'd suggest to use auto-focus for now if it is suffice for the use case.

[2019-07-01 16:43] bsameh opened #196 "0 supported devices when deploying to Google Play Store"
**Describe the bug**
Deploying an app that depends on this library to the Google Play Store renders the app unsupported on ALL Android devices. Removing the library as a dependency and any references to it in the code resolves the issue. According to the Google Play Store, 0 devices are supported due to the following issue:
<img width="435" alt="Screen Shot 2019-06-28 at 1 58 54 AM" src="https://u

[2019-07-01 16:45] bsameh commented on #196
Here's the relevant snippet of my AndroidManifest.xml file:
[code]

[2019-07-02 13:49] pvasa commented on #196
@bsameh you don't need to put `uses-feature` for any camera feature. They are included in the library and will be merged to main manifest automatically when building the app.

[2019-07-02 13:54] pvasa commented on #196
Also please make sure you're using the latest version of the library.

[2019-07-03 13:17] vthakkar66 opened #197 "error: failed linking references."
Got this complie error when running project:

 error: expected boolean but got (raw string) continuous_picture.

[2019-07-05 06:19] vthakkar66 commented on #197
Please response i'm waiting !

[2019-07-05 11:34] pvasa commented on #197
Hi @vthakkar66 did you recently update library version? Please do a clean build and that should fix the problem.

[2019-07-07 01:28] #197 closed

[2019-07-07 01:28] #196 closed

[2019-07-08 05:03] mansya opened #198 "New logo/icon proposal"
Good day sir. I am a graphic designer and i am interested in designing a logo for your good project. I will be doing it as a gift for free. I just need your permission first before I begin my design. Hoping for your positive feedback. Thanks

[2019-07-08 13:15] pvasa commented on #198
Hi @mansya, good day. I am okay with it. What kind of logo do you have in mind?

[2019-07-11 07:08] florianhirson opened #199 "Library automatically adds RECORD_AUDIO"
**Describe the bug**
I use the library only to take pictures and the permission RECORD_AUDIO is automatically added to the manifest.

Is there a way to avoid this permission to be added ?

[2019-07-11 16:12] mansya commented on #198
hi sir. I have completed the design for this project. How ? do you like it ? if yes which one do you like?
![cameraview-ex](https://user-images.githubusercontent.com/33461607/61067286-5cdf4680-a431-11e9-8700-210252968864.png)

[2019-07-12 14:08] pvasa commented on #199
@florianhirson audio permission in Android requires explicit approval from user. So even if it is added in manifest, it won't be approved by default. You need to ask explicitly for runtime permission.

[2019-07-12 14:09] pvasa commented on #198
Hi @mansya thanks for putting them together. I liked the 3rd.

[2019-07-16 17:25] mansya commented on #198
hi sir. I have sent you [**Pull Requests**](https://github.com/pvasa/cameraview-ex/pull/200). please check. and I have also uploaded all files to this [**Drive**](https://drive.google.com/open?id=1tcwD5q3cKuzZn8qii6Hnesqut9blqkRU)

[2019-07-18 23:33] #199 closed

[2019-07-27 22:33] #194 closed

[2019-07-28 15:47] mansya commented on #198
Sir. How about the pull requests that I sent?

[2019-07-30 14:49] mansya commented on #198
I don't understand that. can you explain it?

[2019-08-12 03:58] 23nJay commented on #192
Hello,
Priyank Vasa,

We set layout_width = wrap_content and layout_height = match_parent but not
working for us, we would like to go with full screen of cameraView not in
wrap_content.
Where we set ayout_width = wrap_content and layout_height = match_parent
video recording work for us but it not support to pause, resume or stop in
this situation.

And Also we would like to know about that what is

[2019-08-13 10:39] J3y-S opened #201 "Stretched preview after camera switch within an activity with android:screenOrientation="portrait""
**Describe the bug**
Hello. I'm using your very nice to use Camera API in an activity with android:screenOrientation="portrait".
When i start in portrait orientation and switch the camera after I've rotated the device to landscape orientation the preview ist totally stretched and wrong rotated.

**To Reproduce**
1. Start Activity with android:screenOrientation="portrait" including CameraView (hold

[2019-08-21 00:46] pvasa commented on #133
Fixed

[2019-08-21 00:48] pvasa commented on #110
Video capture is now supported.

[2019-08-21 01:00] pvasa commented on #201
Hi @J3y-S, I would suggest updating to `v3.5.4-alpha` and check if you still see this issue. A lot of preview and capture sizes related issues were fixed in some recent releases. If not then we can investigate more.

[2019-08-21 01:01] pvasa commented on #201
You can find complete changelog [here](https://github.com/pvasa/cameraview-ex/releases).

[2019-08-21 13:56] moyaying opened #206 "crash in android4.4"
**Describe the bug**
when run camera.start(), app crash.

**Additional context / stacktrace**
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.leyan.app, PID: 5597
    java.lang.VerifyError: com/priyankvasa/android/cameraviewex/VideoManager
        at com.priyankvasa.android.cameraviewex.Camera1$videoManager$2.invoke(Camera1.kt:88)
        at com.priyankvasa.android.cameraviewex.Camera1$vi

[2019-08-28 12:15] rubensim opened #207 "App does extra flash"
App does extra flash when getting out of camera

Steps to reproduce the behavior:
1. Open Sample App
2. Turn on the flash if its not enable
3. Take the picture. Make sure that the flash is happening
4. Get out of the camera by back button

**Actual behavior**
You will see that an extra flash occurs

**Expected behavior**
When pressed back, it should not flash

 - Devices
Nexus 6P Android 8.1.0 (Hu

[2019-08-30 16:12] rocca23 commented on #199
I think it's not the better approach to add all potentially used permission in the library manifest. Apps end up declaring permissions that they don't use and this may be relevant with Android < 6, where users accept permissions upfront. I think you should document what permissions are needed to use the relevant features and leave to developers the declaration of such permissions in their manifest

[2019-09-02 09:17] rocca23 commented on #194
I've had some reports about this issue, devices are Samsung Galaxy A20e and Galaxy A40, both with Android 9. The OS version seems to be the common factor. In my case I had also errors with device id = 1, but always error code 4 (ERROR_CAMERA_DEVICE). The current workaround is to use `cameraView.addCameraErrorListener` to handle the error in a non-fatal way.

[2019-09-03 01:18] pvasa commented on #206
@moyaying Can you please provide a full log and your camera setup code?

[2019-09-04 17:26] pcm2a opened #208 "Camera2 preview wrong orientation on some devices"
**Describe the bug**
Some devices have cameras installed in the device in non-standard orientations, usually with the front camera (selfie). Examples are some of the Nexus 5/6 devices and a test device I have, ZTE Cymbal T. The issue here is only with Camera2 and only with the preview. The recorded video is in the correct orientation.

Camera1:
If I force the camera to Camera1 (file Camera1.kt) th

[2019-09-05 16:00] #198 closed

[2019-09-24 00:00] pedromarthon opened #210 "jetified-cameraview-ex-3.5.5-alpha\res\values\values.xml: AAPT: error: expected enum but got (raw string) single_capture."
I am getting this error when compiling now

jetified-cameraview-ex-3.5.5-alpha\res\values\values.xml: AAPT: error: expected enum but got (raw string) single_capture.

[2019-09-24 00:01] pedromarthon commented on #104
I am facing this issue

[2019-09-26 00:40] pedromarthon opened #211 "Camera freeze when shooting with flash"
The camera just freezes when shooting with FLASH_ON and after a small moment this error comes out
2019-09-26 03:38:21.827 17385-17385/com.waynyo.debug E/CameraFragment$onCreateView: com.priyankvasa.android.cameraviewex.CameraViewException: Error opening camera with id 0 (error: 4)
        at com.priyankvasa.android.cameraviewex.Camera2$cameraDeviceCallback$2$1.onError(Camera2.kt:145)
        at an

[2019-09-27 02:11] #201 closed

[2019-09-30 08:21] rubensim commented on #207
@pvasa Any updates ?

[2019-10-02 17:55] pedromarthon commented on #210
clean build worked, but now it freezes when I use flash

[2019-10-03 14:54] #210 closed

[2019-10-03 14:55] #206 closed

[2019-11-10 17:31] heyletscode opened #212 "Video and preview dark when recording with the front-facing camera"
**Describe the bug**
Video and preview turn dark when recording video with the front-facing camera.

Android Studio version: 3.5
API Version: 3.4.3

   `<com.priyankvasa.android.cameraviewex.CameraView
        android:id="@+id/cameraView"
        android:layout_width="150dp"
        android:layout_height="200dp"
        android:layout_margin="16dp"
        android:adjustViewBounds="true"
        a

[2019-11-22 17:19] #212 closed

[2019-11-26 13:50] Soundfresh opened #213 "Failed to record video with 9:16 aspect ratio"
When I start record video on some devices with aspect ratio 9:16 I got error:
com.priyankvasa.android.cameraviewex.CameraViewException: Unable to start video recording.
java.lang.IllegalArgumentException: Surface was abandoned.
It failed for Huawei P30 Lite
it works fine for Samsung S8

[2020-01-02 16:23] #213 closed

[2020-01-20 10:24] JeetSA commented on #212
I am getting the same issue. Pleas help me out if anyone has solved it.

[2020-01-20 10:26] JeetSA commented on #212
@heyletscode I am getting the same issue. Can you please help me with that?

[2020-01-20 10:47] JeetSA opened #215 "When we keep facing to front, it is giving black screen preview."
**Black preview while front-facing**
When we keep facing value as "front", it is giving black preview.

**To Reproduce**
Just keep facing to front in xml value.

**Expected behavior**
Front camers preview instead of black screen.

If anyone has faced this kind of issue please help me.
Thanks.

[2020-01-22 12:31] askarsyzdykov commented on #182
Same issue
Device: Xiaomi Mi A1
OS: Android ( 9.0)

[2020-01-27 06:34] JeetSA commented on #215
@pvasa  @pcm2a
Can you please help me with issue?

[2020-01-27 09:04] askarsyzdykov commented on #182
FYI: Pinch to zoom does not work too

[2020-02-10 13:44] heyletscode commented on #212
@JeetSA I moved to Android's official camera library, that is CameraX

[2020-02-11 07:22] JeetSA commented on #212
@heyletscode  Okay thanks for reverting back.

[2020-02-11 12:55] deshant opened #216 "More than one file was found with OS independent path 'META-INF/atomicfu.kotlin_module'"
Want to raise 2 points:

**First** is that the callbacks of the library are using kotlin and prefer lambda expressions. The code is not designed to work well with java 7. For example: `camera.addCameraOpenedListener()`
Please mention this in prerequisite to use this library, or provide support/guide for using it along with Java 7.

**Second,**
After adding library dependency, got error during buil

[2020-03-04 20:10] #215 closed

[2020-03-08 07:58] koradiyadhaval opened #217 "in android 6.0 not working"
first time install this sample application and then after ask the permission and after press the allow button so next step in always show white screen . (i am using android 6.0 old device)

[2020-04-14 08:39] #217 closed

[2020-04-28 01:15] vinaygarg55 opened #218 "Camera.isVideoRecording always returns false"
Hi

I'm using this library for recording videos and it's not working as expected in **OnePlus6 Android 10**.

I don't have another Android 10 issue to test but I believe it's Android 10 issue and not specific to OnePlus 6.

When I click on the RecordVideo button, the listeners are not set

`    fun addVideoRecordStartedListener(listener: () -> Unit): CameraView {
        listenerManager.videoRecor

[2020-05-11 03:20] cervy opened #219 "hi?"
**Is your feature request related to a problem? Please describe.**
How to be silent or without AudioSource when recording video by front camera, because I wanna record audio by another tool for an  evaluation. THX!

**Describe the solution you'd like**

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additio

[2020-05-26 08:09] ShankyPatel opened #220 "error: expected enum but got (raw string) single_capture."
Execution failed for task ':app:processDebugResources'.

     AAPT: AndroidStudioProjects\Blah\app\build\intermediates\incremental\mergeDebugResources\merged.dir\values\values.xml:4684: error: expected enum but got (raw string) single_capture.
     error: failed linking references.

How do i resolve this issue ? please help

[2020-05-26 09:51] ShankyPatel commented on #210
i am still getting same issue even after getting project cleaned.

[2020-06-05 03:27] #218 closed

[2020-06-06 17:58] srpunni opened #221 "Caused by kotlin.UninitializedPropertyAccessException"
Caused by kotlin.UninitializedPropertyAccessException
com.priyankvasa.android.cameraviewex.Camera2.lockFocus (Camera2.kt:1290)
com.priyankvasa.android.cameraviewex.Camera2.takePicture (Camera2.kt:921)
com.priyankvasa.android.cameraviewex.CameraView.capture (CameraView.kt:598)

Device ONEPLUS A6000, Android 10

[2020-06-11 13:30] AhmedMousa7 opened #222 "UnsupportedOperationException No supported camera found for facing 1"
**Update**
i found that is issue caused when use targetSdkVersion 29

In some devices i faced this issue in both versions (3.4.3 and 3.5.5-alpha) that i cannot capture any photos or video i got those errors in log but the camera opened correctly
[code]
and the exception passed to `addCameraErrorListener`  is  **UnsupportedOperationException
No supported camera found for facing 1 Failed to open cam

[2020-06-11 14:13] AhmedMousa7 opened #223 "CameraCaptureSession: Session 1: Failed to create capture session; configuration failed"
When tries to capture photo the app freezed after first photo captured and returned an error that **Failed to start camera session** after first picture and then the camera freezed
**noted** first one captured correctly and saved to the device

**Expected behavior**
i can take more than one photo or videos

**Using ProGuard**
- [x] with ProGuard
- [ ] without ProGuard

**Device :**
 - Device: [e.g

[2020-07-02 23:05] #220 closed

[2020-07-10 12:11] abhishektiwari-kiwi opened #224 "Samsung J7 prime issue in video recording, video recording stops just after starting."
Getting this in log.

com.priyankvasa.android.cameraviewex.debug W/CameraFragment$setupCamera: com.priyankvasa.android.cameraviewex.CameraViewException: Video stabilization not supported by selected camera (id 0).
        at com.priyankvasa.android.cameraviewex.Camera2$videoManager$2$1.invoke(Camera2.kt:493)
        at com.priyankvasa.android.cameraviewex.Camera2$videoManager$2$1.invoke(Camera2.kt

[2020-07-13 12:25] #219 closed

[2020-07-13 19:25] #221 closed

[2020-07-18 15:19] #223 closed

[2020-07-18 17:19] #222 closed

[2020-07-22 13:06] rafaqat8 opened #225 "no preview on pixel and samsung moblie"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Using ProGuard**
- [ ] with ProGuard
- [ ] without ProGuard

**Screenshots**
If applicable, add screenshots to hel

[2020-08-07 04:25] angelkoh opened #226 "manual focus"
can you expose the functionality  to do manual focusing in Camera2 API

https://stackoverflow.com/questions/42901334/manual-focus-using-android-camera2-api

will be really useful when taking macro pictures.

[2020-08-16 12:59] #224 closed

[2020-08-28 13:22] EmreMetin opened #227 "Method markState must be called on the main thread"
When use switch , flash camera property, this error show.
FATAL EXCEPTION: CameraViewExBackground
    Process: com.example.photofilter, PID: 19964
    java.lang.IllegalStateException: Method markState must be called on the main thread
        at androidx.lifecycle.LifecycleRegistry.enforceMainThreadIfNeeded(LifecycleRegistry.java:317)
        at androidx.lifecycle.LifecycleRegistry.markState(Lifec

[2020-08-29 04:09] #225 closed

[2020-09-11 12:34] DanielMartinus commented on #227
We're experiencing the same issue:

[code]

[2020-09-13 06:07] #226 closed

[2020-10-18 01:21] HudsonGraeme commented on #227
I'm experiencing the same issue. @pvasa If you can offer any assistance here that would be much appreciated.

[2020-11-28 16:22] #227 closed

[2021-01-15 16:55] developer-- opened #228 "Preview is stretched for every aspect ratio if I use full screen CameraView"
version `3.5.5-alpha`

I have tested it for andvanced sample and basic sample and result is same.
Tested on Pixel 4XL

[2021-04-27 13:41] Eyal-Elbaz opened #229 "Front Faceing"
Hi,
I've liked the project, but when I take a Selfie without the emu, the PictureTakenListener doesn't operate.
 Thank you very much

[2021-06-07 19:04] itsonegeneral opened #230 "expected enum but got (raw string) single_capture."
build\intermediates\incremental\mergeDebugResources\merged.dir\values\values.xml:4425: error: expected enum but got (raw string) single_capture.

Not able to build

 <style name="Widget.CameraView" parent="android:Widget">
        <item name="android:adjustViewBounds">true</item>
        <item name="facing">back</item>
        <item name="aspectRatio">4:3</item>
        <item name="autoFocus">cont

[2021-06-11 01:15] #228 closed

[2021-06-11 01:15] #229 closed

[2021-07-20 07:21] koradiyadhaval opened #231 "in android 6.0 not working"
first time install this sample application and then after ask the permission and after press the allow button so next step in always show white screen . (i am using android 6.0 old device)

[2021-07-20 23:45] #230 closed

[2021-08-07 06:26] beom-mingyu commented on #195
me toooo

[2021-10-08 13:50] JohnGeorgiou opened #232 "Method markState must be called on the main thread"
testing the library and trying to switch cameras using camera.nextCamera();

 FATAL EXCEPTION: CameraViewExBackground
    Process: com.encodica.testkaraoke, PID: 18647
    java.lang.IllegalStateException: Method markState must be called on the main thread
        at androidx.lifecycle.LifecycleRegistry.enforceMainThreadIfNeeded(LifecycleRegistry.java:317)
        at androidx.lifecycle.LifecycleReg

[2021-11-10 10:27] naeemaza opened #233 "Camera not working on Android 12"
**Describe the bug**
For Android 12 devices camera isn't working. It opens the camera but after capturing the picture it crashes. Working on all below Android 12 devices

**To Reproduce**
Open the camera on any Android 12 device

**Expected behavior**
It should take a picture without any crash

**Using ProGuard**
- [ ] without ProGuard

**Screenshots**
![image](https://user-images.githubuserconten

[2022-01-25 14:09] steve47457 opened #234 "Error when building APK"
I just downloaded the project as-is and I get the following error when I build the APK. How to fix?

[code]

[2022-01-31 18:55] pvasa commented on #232
fixed by https://github.com/pvasa/cameraview-ex/commit/5084a9128febf69e98d619c124e53cd8f070ebb7

[2022-01-31 18:55] #232 closed

[2022-03-24 10:57] Bhagirath987 opened #235 "Android 11 and 12 I'm facing some issue"
I have oneplus nord ce2 device with android 11 version

I have tried to implement this library but when I start app it is showing only white screen

 - Device: Oneplus nord ce2
 - OS: Android 11

Also I have tried with emulator with android 12

In emulator I'm getting this error while capturing image

**2022-03-24 16:19:36.598 10182-10374/com.pathquestap E/CameraCaptureSession: Session 0: Exceptio

[2022-04-16 04:24] #231 closed

[2022-04-27 19:21] #234 closed

[2022-06-09 14:51] luissantiagodev commented on #235
I'm having the same issue, what fix can be applied?

[2022-06-15 14:11] tbarseghyan commented on #232
@pvasa can you please publish the latest build to Maven?

[2022-07-09 20:41] krghv85 opened #236 "Unable to start video recording."
Hi,
I am getting following exception while start camera. and my goal is to capture video and continues frames.

Please help me to solve this issue.

com.priyankvasa.android.cameraviewex.CameraViewException: Unable to start video recording.
java.lang.ArithmeticException: divide by zero
Unable to start video recording.

My code is --

    <com.priyankvasa.android.cameraviewex.CameraView
        andr

[2022-07-10 05:58] krghv85 commented on #106
Hi @pvasa

This feature still is not working, it giving exception(java.lang.ArithmeticException: divide by zero) 'Unable to start video recording'

Using - 3.5.5-alpha"

app:cameraMode="continuous_frame|video_capture"

I also log a issue for the same -  https://github.com/pvasa/cameraview-ex/issues/236